<div id='delete-offered-ad'>
  <div><%= TR('delete.are_you_sure') %></div>
  <div><b><%= model.get('title') %></b></div>
  <div class='form-actions'><button class="btn btn-primary btn-large"><%= TR('actions.yes') %></button>
  <a href='<%= App.p("/") %>' class="btn btn-large"><%= TR('actions.cancel') %></a></div>
<div>
