<div id='new-offered-ad centered' >
  <form class='form-horizontal offered-ad-form'>
    <label for="url" required>url</label><input type='text' id='url' name='url'/>
    <% if(type === "newOfferedAd") { %>
      <label for="email" required><%= TR('ad.email') %> *</label><input id="email" name="email" type='email' maxlength="99"/>
    <% } %>
    <label for="company" required><%= TR('ad.company') %> *</label><input id="company" name="company" type='text' maxlength="99"/>
    <label for="job-category" required><%= TR('ad.job_category') %> *</label>
      <select id='job-category' name="job_category_id">
        <option value="-1"></option>
      <% _.each(cats.models, function(cat) { %>
        <option value="<%= cat.get('id') %>"><%= TR('job_categories.' + cat.get('code')) %></option>
      <% }) %>
      </select>
    <label for="title" required><%= TR('ad.title') %> *</label><input id="title" name="title" type='text' maxlength="99" class='span4'/>
    <label for="body-text" required><%= TR('ad.body') %> *</label><textarea id="body-text" name="body" maxlength='999' rows='10' class='span4' />
    <label for="sqc" required><%= TR('form.sqc') %> Hauptstadt der Schweiz? *</label><input id="sqc" name="sqc"  type='text' />
    <div class='form-actions'>
      <button class='btn btn-primary'><%= TR('actions.ok') %></button>
      <a href='<%= App.p("/") %>' class='btn'><%= TR('actions.cancel') %></a>
    </div>
  </form>
</div>
