<div id="offered-ad">
  <div class="main">
    <div class="title">
      <h3><%= model.get('title') %></h3>
    </div>
    <div class="details">
      <div class="company">
        <%= TR('ad.company') %>: <%= model.get('company') %>
      </div>
      <div class="work-location">
        <%= TR('ad.work_location') %>: <%= model.get('work_location').get('city') %>
      </div>
      <div class="date">
        <%= TR('ad.posted_at') %>: <%= model.get('posted_at') %>
      </div>
    </div>
    <div class="body">
<%= model.get('body') %>
    </div>
  </div>
</div>
